.main-about-wrapper {
  /* max-width: 1024px; */
  margin: 0 auto;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.section--1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
}
.section--1 h2 {
  font-size: 1.4rem;
}
.section--1 div .lists {
  padding: 1.2rem;
  /* list-style: none; */
}
.lists li {
  padding: 1.2px;
}
.lists button {
  margin-top: 1.2px;
}
.about {
  margin-bottom: 1.2rem;
}

.bio-details {
  letter-spacing: 1.2;
  line-height: 1.3;
}

.section--2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 18px;
  padding: 1rem;
}

.all-about {
  font-size: 2.4rem;
  margin-bottom: 1.1rem;
}
.section--2 div h3 {
  font-size: 1.4rem;
  margin-bottom: 1.1rem;
}
.section--2 div p {
  line-height: 1.3;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  .main-about-wrapper {
    grid-template-columns: 1fr;
    /* grid-row: 2; */
  }
}
